<!DOCTYPE html>
<html>
<head>
  <title>Student Profile Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <h1><%= @student[0]['name'] %>'s Profile Page</h1>
  <p>Age = <%= @student[0]['age'] %></p>
  <p>Campus = <%= @student[0]['campus'] %></p> 

</body>
</html>